.Healsim {
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
}

.Healsim-leftbody {
  background-color: #282c34;
  min-height: 90vh;
  min-width: calc(40vw - 2px);
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  border-right: 2px solid rgb(8, 2, 37);
  text-align: center;  
}

.Healsim-leftbody h1 {
  color:#acad98f3;
  opacity: 0.8;
  text-shadow: -1px -1px 1px rgb(186, 241, 185), 1px 1px 1px #000;
  font-family:Arial;
  font-size: 48px;
}

.Healsim-rightbody {
  background-color: #282c34;
  min-height: 90vh;
  min-width: calc(50vw - 2px);
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  border-left: 2px solid rgb(8, 2, 37);
  text-align: center;  
}

.Healsim-rightbody h1 {
  color:#35ca33;
  opacity: 0.8;
  text-shadow: -1px -1px 1px rgb(186, 241, 185), 1px 1px 1px #000;
  font-family:Arial;
  font-size: 48px;
}

.Healsim-sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #14151a;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.Healsim-sidebar button {
  font-size: calc(1.5vw);
  display: block;
  width: 100%;
  height: 25%;
}

.Healsim-sidebar a:hover {
  color: #f1f1f1;
}

.Healsim-spellbar {
  width: 90%; /* Full-width: remove this if you want "auto" height */
  height: 10vh; /* Set the height of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  nav-index: 1;
  top: 0; /* Stay at the top */
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  overflow-y: hidden;
}

.Healsim-spellbar button {
  font-size: calc(1.1vw);
  display: block;
  width: calc(100% / 9);
  height: 100%;
}

.Healsim-spellbar a:hover {
  color: #f1f1f1;
}

.sidebarButton {
	box-shadow: 0px 0px 0px 1px #333a53;
	background:linear-gradient(to bottom, #667eaa 5%, #1b2b3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#667eaa', endColorstr='#1b2b3f',GradientType=0);
	background-color:#667eaa;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:15% 15%;
	text-decoration:none;
  text-shadow:0 0 5px rgb(0, 0, 0), 0 0 10px rgb(78, 78, 78);
  margin: 0 auto;
}

.sidebarButton:hover {
	background:linear-gradient(to bottom, #418383 5%, #98d4d1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#418383', endColorstr='#98d4d1',GradientType=0);
  background-color:#418383;
}

.sidebarButton:active {
	position:relative;
}

.focusButton {
  box-shadow: 0px 0px 0px 1px #333a53;
  background:linear-gradient(to bottom, #000000 5%, #0b7e78 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0b7e78',GradientType=0);
  background-color:#000000;
	border:0px;
	display:inline-block;
	cursor:pointer;
  color:#e2e2e2;
	font-family:Arial;
	font-size:20px;
	padding:15% 15%;
	text-decoration:none;
  text-shadow:0 0 5px rgb(0, 0, 0), 0 0 10px rgb(78, 78, 78);
  margin: 0 auto;
  font-style: italic;
}

.focusButton:active {
	position:relative;
}

.focusButton:hover {
	background:linear-gradient(to bottom, #418383 5%, #98d4d1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#418383', endColorstr='#98d4d1',GradientType=0);
  background-color:#418383;
}

.spellbarButton {
	box-shadow: 0px 0px 0px 1px #333a53;
	background:linear-gradient(to bottom, #4066ad 5%, #020305 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#667eaa', endColorstr='#1b2b3f',GradientType=0);
	background-color:#667eaa;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
  text-shadow:0 0 5px rgb(0, 0, 0), 0 0 10px rgb(78, 78, 78);
}

.spellbarButton:hover {
	background:linear-gradient(to bottom, #418355 5%, #98d4a5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#418383', endColorstr='#98d4d1',GradientType=0);
  background-color:#418383;
}

.spellbarButton:active {
	position:relative;
}

.spellfocusButton {
	box-shadow: 0px 0px 0px 1px #333a53;
  background:linear-gradient(to bottom, #000000 5%, #e00101 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0b7e78',GradientType=0);
  background-color:#000000;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
  text-shadow:0 0 5px rgb(0, 0, 0), 0 0 10px rgb(78, 78, 78);
}

.spellfocusButton:hover {
	background:linear-gradient(to bottom, #418355 5%, #98d4a5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#418383', endColorstr='#98d4d1',GradientType=0);
  background-color:#418383;
}

.spellfocusButton:active {
	position:relative;
}